body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table,
table thead {
  border: 5px;
  border-width: thin;
  /* border-style: solid;  */
  /* border-style: dashed; */
  border-style: solid ;
  border-color: blue;
  border-collapse: collapse;
  /* background-color: #c1c1c1; */
  text-align: center;
}
table tr,
table td {
  border: 1px;
  border-width: thin;
  /* border-style: solid;  */
  /* border-style: dashed; */
  border-style: dotted ;
  border-color: gray;
  border-collapse: collapse;
  text-align: center;
}